{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {# 
        {{form(registrationForm)}} // mais j'aurais pas le bouton a part si on le met ds regirstration form 
    #}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe '
        }) }}

        {# {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }} #}
        {# form_row c'est bootstrap, ca dessine un encadré global #}
    <div class="row">
        {{ form_widget(registrationForm.prenom, { 
            attr: {
                class:"col-6",
                placeholder: "Prénom"
            }
        }) }}

         {{ form_widget(registrationForm.nom, { 
            attr: {
                class:"col-6",
                placeholder: "Nom"
            }
        }) }}
    </div>

        {{ form_row(registrationForm.agreeTerms) }}
       

        <button type="submit" class="btn btn-success">S'inscrire</button>
        <a href="{{ path("accueil") }}" class="btn btn-danger">Annuler</a>
    {{ form_end(registrationForm) }}
{% endblock %}
