{% extends 'admin/base.html.twig' %}

{% block title %}Liste des Emprunts {% endblock %}

{% block body %}
    <h1>Liste des Emprunts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Abonné</th>
                <th>Livre</th>
                <th>Emprunté le</th>
                <th>Rendu le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.abonne.pseudo }}</td>
                <td>{{ emprunt.livre.titre ~ " - " ~ emprunt.livre.auteur }}</td>
                <td>{{ emprunt.dateEmprunt|date('d-m-Y')}}</td> {# Y : annee sur 4 chiffres sinon y : format 2 chiffres #}
                <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('d-m-Y') : '' }}</td>
                <td>{# si date emprunt existe als on affiche sinon on ne m'affiche pas. apres la barre verticlae c'est un pipe et apres le filtre #}
                    <a href="{{ path('emprunt_show', {'id': emprunt.id}) }}"> <i class="fa fa-book"></i></a>
                    <a href="{{ path('emprunt_edit', {'id': emprunt.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun emprunt enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
            <th>Liste des livres non rendus</th>
            </tr>
            
            <tr>
                <th>Id</th>
                <th>Abonné</th>
                <th>Livre</th>
                <th>Emprunté le</th>
                <th>Rendu le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts_non_rendus %}
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.abonne.pseudo }}</td>
                <td>{{ emprunt.livre.titre ~ " - " ~ emprunt.livre.auteur }}</td>
                <td>{{ emprunt.dateEmprunt|date('d-m-Y')}}</td> {# Y : annee sur 4 chiffres sinon y : format 2 chiffres #}
                <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('d-m-Y') : '' }}</td>
                <td>{# si date emprunt existe als on affiche sinon on ne m'affiche pas. apres la barre verticlae c'est un pipe et apres le filtre #}
                    <a href="{{ path('emprunt_show', {'id': emprunt.id}) }}"> <i class="fa fa-book"></i></a>
                    <a href="{{ path('emprunt_edit', {'id': emprunt.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun emprunt enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emprunt_new') }}" class="btn btn-primary">Nouvel emprunt</a>
{% endblock %}
